<html>
<html lang="vi-vn">
<meta charset="utf-8" />
<head>
    <span style="font-family:Arial">  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Body Postures and Movements Classification</title>
</head>
<body style="background-color:#FF99CC">
        <h2>Data Mining and Application Class - Final project</h2>
        <h2>Lecturer: Ms. Nguyen Thi Anh Thu</h2>
        <h3> Team 4 </h3>
        <ul>
            <li><h3> Nguyen On Ngoc Bao </h3></li>
            <li><h3> Nguyen Tan Phat </h3></li>
            <li><h3> Tran Viet Hung </h3></li>
        </ul>
</body>
</html>