<html>
<html lang="vi-vn">
<meta charset="utf-8" />
<head>
    <span style="font-family:Arial">  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Body Postures and Movements Classification</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" rel="stylesheet">
<style>
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
</style>
</head>
<body style="background-color:#FF99CC">
        <h2>Data Mining and Application Class - Final project</h2>
        <h2>Lecturer: Ms. Nguyen Thi Anh Thu</h2>
        
		
		<h2>Team 4</h2>
		
		<div class="row">
		
			<div class="column">
				<div class="card">
					<img src="https://scontent.fsgn2-1.fna.fbcdn.net/v/t1.0-9/s960x960/37596899_1331015713701747_4123653527442554880_o.jpg?_nc_cat=107&_nc_ohc=QBzdteJlXQgAQl0xO1ICIVZQStoJ7Mgsc1H9X52azSihZOi1iPMfgEn1A&_nc_ht=scontent.fsgn2-1.fna&oh=b4c7e5c70582bb7618eb0245af8f5140&oe=5E45A6B6" style="width:100%;height:350px">
						<div class="container">
							<h2>Nguyen On Ngoc Bao</h2>
								<p class="title">Team Leader</p>
								<p>Develop website (Full-stack), validate and research optimize way for Machine Learning Model.</p>
								<div class="box-ele w-30">
									<div>
										<h5>Contact</h5>
										<a href="https://www.linkedin.com/in/baonguyen99" target="blank">
											<i class="fab fa-linkedin-in"></i>
										</a>
										<a href="https://www.facebook.com/megalomaniac.me" target="blank">
											<i class="icon fab fa-facebook"></i>
										</a>
										<a href="https://github.com/ngbao161199" target="blank">
											<i class="icon fab fa-github"></i>
										</a><br>
										<a href="" target="blank">
											<i class="icon far fa-envelope"></i>
											<i> ngbao161199@gmail.com <br></i>
										</a>
										<a href="">
											<i class="icon fas fa-map-marker"></i> <i>Hochiminh City, Vietnam</i>
										</a>
									</div>
								</div>
						</div>
				</div>
			</div>
		
			<div class="column">
				<div class="card">
					<img src="https://i.imgur.com/eIDNcAW.png?1" style="width:100%;height:350px">
						<div class="container">
							<h2>Nguyen Tan Phat</h2>
								<p class="title">Team Member</p>
								<p>Develop website, validate and research optimize way for Machine Learning Model.</p>
								<div class="box-ele w-30">
									<div>
										<h5>Contact</h5>
										<a href="" target="blank">
											<i class="fab fa-linkedin-in"></i>
										</a>
										<a href="https://www.facebook.com/phat.18.12" target="blank">
											<i class="icon fab fa-facebook"></i>
										</a>
										<a href="https://github.com/Mercersi" target="blank">
											<i class="icon fab fa-github"></i>
										</a><br>
										<a href="" target="blank">
											<i class="icon far fa-envelope"></i>
											<i> Mail thằng Phát <br></i>
										</a>
										<a href="">
											<i class="icon fas fa-map-marker"></i> <i>Long An, Vietnam</i>
										</a>
									</div>
								</div>
						</div>
				</div>
			</div>

			<div class="column">
				<div class="card">
					<img src="https://scontent.fsgn2-2.fna.fbcdn.net/v/t1.0-9/s960x960/46151507_1079121265598996_170240804122525696_o.jpg?_nc_cat=102&_nc_ohc=tY0LASHe8MgAQlwxlPWMEXimoefsm5UiMdIB2i6J8CaBh0gpKf6mhiL6A&_nc_ht=scontent.fsgn2-2.fna&oh=38d370baac7dd2ec9f03097168a59dba&oe=5E855123" style="width:100%;height:350px">
						<div class="container">
							<h2>Tran Viet Hung</h2>
								<p class="title">Team Member</p>
								<p>Discovering data, Machine Learning model and buidling website.</p>
								<div class="box-ele w-30">
									<div>
										<h5>Contact</h5>
										<a href="" target="blank">
											<i class="fab fa-linkedin-in"></i>
										</a>
										<a href="https://www.facebook.com/viethungtrann" target="blank">
											<i class="icon fab fa-facebook"></i>
										</a>
										<a href="https://github.com/bittervirgin" target="blank">
											<i class="icon fab fa-github"></i>
										</a><br>
										<a href="" target="blank">
											<i class="icon far fa-envelope"></i>
											<i> mail thằng Hùng <br></i>
										</a>
										<a href="">
											<i class="icon fas fa-map-marker"></i> <i>Hochiminh City, Vietnam</i>
										</a>
									</div>
								</div>
						</div>
				</div>
			</div>
   
		</div>
</body>
</html>
